---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';


import {basics} from '@cv';
const {name, label} = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
	<h1>Contenido principal</h1>
</Layout>
